/*
  extend的写法，可以复用，简化代码
*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-the_top_bar {
  @extend .flex;
  background-color: var(--primary);
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  // padding: 0 1rem;
  z-index: 10;
  width: 100%;
}